*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }


.screen {
  image-rendering: pixelated;
}

.wild {
  margin-bottom: 128px;
}

.background {
  width: 500px;
  height: 320px;
  background-image: url("http://orig12.deviantart.net/e841/f/2012/348/9/c/gigantic_battle_background_by_kyle_dove-d5nwldw.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.frame {
  overflow: hidden;
  margin: 20px;
}

.battle-menu {
  margin-top: 50px;
  width: 100px;
  height: 100px;
}
.right {
  float: right;
}

.button {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  background-color: background-color: rgba(255, 0, 0, 0.3);
  color: white;
}

.block {
  display: inline-block;
}

.window {
  width: 700px;
  height: 400px;
  margin: auto;
}

.form-box {
  color: black;
  margin: 50px;
}

.player-poke {
  position: relative;
  float: right;
}

.pokemon-list {
  width: 200px;
  height: 300px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.status {
  width:500px;
}

.less-em {
  font-size: 0.7em;
  margin: 1px;
}

.overlay {
  position: absolute;
}

button {
  width: 80px;
}
