<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome'}) %>

  <main>
    <ul>
      <li><a href="/users">Visit the user list.</a></li>
    </ul>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
